// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$dark-dark: #181818;
$color2: #313131;
$hover: #702634;
$color4: #973245;
$accent: #be3d56;
