#heroHeaderHome {
    background-size: cover;
    background-position: center center;
    background-image: image-url('huggers-bg.jpg');
    height: 50vh;

    h1 {
        font-weight: bold;
    }
}
