// HUGGER#SHOW +++++++++++++++++++++++++++++
#huggerContent,
#hugContent {
  padding: $pad;
  height: 100%;
  flex-grow: 1;
  // height: calc(100vh - (75px + 72px );

  .contentDescription {
    margin-bottom: 70px;
    }


  .row {
    margin: 0 0 0 0;
    min-height: calc(100vh - (75px + 75px));
  }

  .card-deck {

    .card {
      border-radius: $border-radius;

    }
  }

}
