<div id="bookingForm" class="container">
  <div class="row ">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
      <h2>Booking</h2>
      <%= simple_form_for [@hug, @booking] do |f| %>
        <%= f.input :check_in, as: :datetime%>
        <%= f.input :check_out, as: :datetime %>
        <%= f.button :submit, class: "btm btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>
