<a class="btn btn-flat" href="#">Book now</a>

<!-- button cancel bookings -->

<div class="outer">
  <div class="inner">
    <label><%= link_to "Cancel", booking_path(booking), method: :delete  %></label>
  </div>
</div>
