
<%# NAVBAR TOP MENU START %>
<%# RAJOUTER JQUERY bg-light & Remove bg-transparant %>
<%# ! Dans le Link To, rajouter un logo %>

<%# ! Remettre fixed-top navbar-fixed-top pour une nav bar fixed%>
<nav id="navMenu" class="navbar navbar-light bg-transparent justify-content-between"> 
  <%= link_to "#", class: "navbar-brand" do %>
    HUG'N'MORE
  <% end %>
  <div class="" id="">
    <%# MENU BURGER %>
    <button class="btn" data-target="#modalNavigation" data-toggle="modal" type="button">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
  </div>
</nav>
<%# NAVBAR TOP MENU END %>
<%# MODAL MENU START %>
<div class="modal fade" id="modalNavigation" role="dialog" tabindex="-1" aria-hidden="true">
  <%# BUTTON CLOSE %>
  <button aria-label="Close" class="close" data-dismiss="modal" type="button">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
  <%# MODAL %>
  <div class="modal-dialog">
    <div class="modal-content" role="document">
      <ul id="menuModal" class="list-group text-center">
        <%# LIST %>
        <%# link_to 'text', path %>
        <a href="#">
          <li class="list-group-item menu-item"><span>Home</span></li>
        </a>
        <a href="#">
          <li class="list-group-item menu-item"><span>Huggers</span></li>
        </a>
        <a href="#">
          <li class="list-group-item menu-item"><span>Hugs Next To You</span></li>
        </a>
        <a href="#">
          <li class="list-group-item menu-item"><span>Test</span></li>
        </a>
        <a href="#">
          <li class="list-group-item menu-item"><span>Contact</span></li>
        </a>
        <%# MENU PROFIL / LOG OUT START %>
        <hr>
        <li class="footer-menu list-inline ">
          <div class="d-flex justify-content-center">
            <%# link_to 'text', path %>
            <a class="list-group-item" href="#"><i class="far fa-user fa-lg"></i></a>
            <a class="list-group-item" href="#"><i class="fas fa-sign-out-alt fa-lg"></i></a>
          </div>
        </li>
        <%# MENU PROFIL / LOG OUT END %>
      </ul>
    </div>
  </div>
</div>
<%# MODAL MENU END %>
