<section id="huggerSidebar" class="sidebar item d-flex flex-column justify-content-md-start">
  <section id="avatar" class="row align-items-center flex-column">
    <img class="avatar-sidebar" src="https://via.placeholder.com/150C/O%20https://placeholder.com/" alt="">
    <h4><%= @hugger.username %></h4>
    <div id="hugger-infos">
      <div class="text-justify">
      <p> <%= @hugger.address %></p>
      </div>
    </div>
  </section>
  <section id="avatar-botton" class="row">
    <button type="button" name="" id="" class="btn btn-primary btn-block">Contact</button>
  </section>
</section>
