.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

// for /views/bookings/index.html.erb
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-top-right-radius: 80px 80px;
  border-bottom-right-radius: 80px 80px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-progress {
  background-color: #2A2B2D;
  height: 100%;
  width: 120px;
  right: 0;
  border-top-left-radius: 80px 80px;
  border-bottom-left-radius: 80px 80px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.card-trip>img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  color: $primary;
  line-height: 1.4;
  opacity: .7;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  border-radius: 12%;
}

// CARDS

.card-deck .card {
  margin-right: 16px; 
  margin-left: 0px;
}


// CARDS HOME PAGE ++++++++++++++++++++++++++++++

#friendly.row,
#tiny.row,
#more.row,
#fast.row {
  margin-right: 0px;
  margin-left: 0px;
}

#friendly,
#tiny,
#more,
#fast {

  //  MEDIA QUERIES
  @media (max-width: 576px) {
    .card-deck {
      // paddi dng: 2rem;
    }
  }


  @media (min-width: 576px) and (max-width: 767.98px) {
    .card-deck .wrapper {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
    }

    .card-deck {
      // padding: 2rem;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {

    .card-deck .wrapper {
      -ms-flex: 0 0 32%;
      flex: 0 0 32%;
    }

  }

  @media (min-width: 992px) {
    .card-deck .wrapper {
      -ms-flex: 0 0 24%;
      flex: 0 0 24%;
    }

  }
}

// card home page

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-radius: $border-radius;
}

.card {
  width: 300px;
  height: 350px;
  // border-radius: $border-radius;
  padding: 2rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  background-color: rgba(0, 0, 0, 0);
  // box-shadow: 0px 7px 10px rgba(black, 0.5);
  border: none;
  justify-content: center;

  &:hover {
    transform: translateY(0px); // Changer 0 pour lever vers le haut la card
    -webkit-transform: translateY(0px);

    &:before {
      opacity: 1;
    }

    .info {
      opacity: 1;
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      margin: auto;
    }

  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(black, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
  }

  .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transition: 0.5s;
    margin: auto;

    h1 {
      margin: 0px;
    }

    p {
      letter-spacing: 1px;
      font-size: 15px;
      margin-top: 8px;
    }

    button {
      padding: 0.6rem;
      outline: none;
      border: none;
      border-radius: 3px;
      background: white;
      color: black !important;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s ease;

      a {
        color: black;
        text-decoration: none;
      }

      &:hover {
        background: $primary;
        color: white;
      }
    }
  }
}
