/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: transparent;
  color: $primary-dark;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active,
  .collapsible:hover {
    background-color: $primary-dark;
    color: $white;
  }

  /* Style the collapsible content. Note: hidden by default */
  .clpcontent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: transparent;
    transition: max-height 0.4s ease-out;
  }

  .collapsible:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: $primary;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
    color: $primary;
  }
}