input[type="text"],
input[type="email"],
input[type="password"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid $primary;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: $primary;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  color: $primary;
}