// For All form / Give underline input

input[type="text"],
input[type="email"],
input[type="password"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid $primary;
  -webkit-box-shadow: none;
  box-shadow: none;
  // border-radius: 0;
  color: $primary-dark;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
  color: $primary-dark;
}

input[type=search] {
  background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  padding: 16px 32px;
  width: 75%;
  border: none;
  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  border-radius: $border-radius;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

// input[type=search]:hover {
// 	background-color: #fff;
// }
// input[type=search]:focus {
// 	background-color: #fff;
// }

input:-moz-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: transparent;
}

input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

// FORM NEW_USER

#deviceForm,
#bookingForm {
  // height: calc(100vh - (75px + 72px)) d;
  z-index: 1;

  h2 {
    font-weight: 900;
    font-size: 3rem;
    color: $primary-dark;
    padding: 0;
  }

  label {
    color: snow;
  }

  .form {
    box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -1px 6px rgba(0,0,0,0.23);
    padding: 0 !important;
  }

  ::placeholder {
    color: $primary-dark;
    opacity: 1;
  }

  :-ms-input-placeholder,
  ::-ms-input-placeholder,
  .text-muted {
    color: $primary-dark !important;
  }

  #booking_check_in_1i,
  #booking_check_in_2i,
  #booking_check_in_3i,
  #booking_check_in_4i,
  #booking_check_in_5i,
  #booking_check_out_1i,
  #booking_check_out_2i,
  #booking_check_out_3i,
  #booking_check_out_4i,
  #booking_check_out_5i {
    background: $primary-dark;
    color: white;
    font-size: 12px;
  }

  #new_user,
  #new_booking {
    padding: 3rem;
    background: $primary-light;
    // border-radius: $border-radius;
  }

  .btn:hover {
    color: white !important;
  }

}
