.hero-header {
    background-size: cover;
    background-position: center center;
    background-image: linear-gradient(to right, rgba($primary-dark, 0.7));
    height: 35vh;
    // margin: $fullpage;
    color: white;

    h1 {
        font-weight: bold;
    }
}