.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 75px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  // width: 40px;
}

// MODAL MENU NAVBAR +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


.modal-fullscreen-menu {
  background-color: #141414; // BG DU MENU

  .logo-modal img {
    transition: all 0.25s ease;
    padding-bottom: 1rem;
  }

  .list-group-item {
    border: transparent 0 solid;
    background-color: transparent;

  }

  .menu-footer {
    
  }

  .fa-chevron-right {
    visibility: hidden;
    font-size: 12px;
    vertical-align: 1.6px;
  }

  hr {
    border: 0;
    border-top: 1px solid #666;
    margin: 0.7rem;
  }

  .close {
    color: white;
    opacity: 1;
    padding: 3.5rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 3vh;
  }

  .modal-dialog {
    margin: 0 auto;
    max-width: 300px;
    min-width: 40vw;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }

  .list-group {
    text-align: left;
    margin: 0 auto;
    width: 100%;

    li a {
      text-transform: uppercase;
      font-size: 16px;
      color: #fff;
      font-weight: 700;
      letter-spacing: 0em;
      border-radius: 20px;
      transition: all 0.25s ease;
      line-height: 0px;
      transition: ease 300ms;

      &:hover {
        color: green;
        border-radius: 20px;
        transition: ease 300ms;

        .fa-chevron-right {
          visibility: visible;
        }

        &:before {
          opacity: 1;
          transition: ease 300ms;
        }
      }
    }
  }
}

.modal-backdrop {
  &.in {
    opacity: 1;
  }
}