#passpartout {
    background-color: rgba($color: $primary-light, $alpha: 0.3);
    padding: $passpartout;
    min-height: calc(100vh - (75px + 72px));
    /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    // padding-bottom: 100px; /* height of your footer */

}


@media (max-width: 575.98px) {
    #passpartout {
        // background-color: $primary-light;
        padding: 0;
    }

}