#passpartout {
    background-color: $primary-dark;
    padding: $passpartout;
}


@media (max-width: 575.98px) { 
    #passpartout {
        background-color: $primary-dark;
        padding: 0;
    }

 }
