body {
    height: 100%;
}

#huggerSidebar {
    height: calc(100vh - 75px);
    border-right: $primary 1px solid;
    background-color: white;
}

#avatar {
    // height: 400px;
    // border-bottom-right-radius: 50%;
    // COULEUR BACKGROUND AVATAR ET FONT COLOR
    // background: $color2;
    // color: $light-gray;
}

#hugger-infos {
}

#hugger-bottom {
    flex-grow: 1;
    padding: $pad;
    ;
}

.avatar-content {
    height: 100%;
    padding-top: 80px;
}

.sidebar {
    width: 380px;
    /*     width: 30%; */

}

@media screen and (max-width: 768px) {

    #hugger {
        flex-direction: column !important;

        #avatar {
            border-bottom-right-radius: 0%;
        }

        .item {
            width: 100%;
        }

        #huggerSidebar {
            height: 400px
        }

        #hugger-bottom {
            display: none !important;
        }
    }


}