.min-height-container {
  min-height: calc(100vh - (75px + 72px + 5%));
}

.vertical-center {
  display: flex;
  align-items: center;
}

.text-primary-dark {
  color: $primary-dark;
}

.text-primary-light {
  color: $primary-light;
}