.min-height-container {
  min-height: calc(100vh - (75px + 72px + 5%));
}

.vertical-center {
  display: flex;
  align-items: center;
}

.text-primary-dark {
  color: $primary-dark;
}

.text-primary-light {
  color: $primary-light;
}

.section-header {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 70px 0;
}

.lead-8 {
  font-size: 3.75rem !important;
}