<section id="heroHeaderHome" class="hero jumbotron jumbotron-fluid vertical-center">
  <div class="container">
    <h1>Need some oxytocin ?</h1>
    <h2 class="lead">Anywhere you want a Hugger is next to you...</h2>
  </div>
</section>
