<div class="under-banner d-flex justify-content-start ml-5">
  <h1>Categories</h1>
</div>

<div class="container min-height-container">
  <div class="row">
    <% @huggers.each do |hugger| %>
      <div class="col-4">
        <div class="card-trip m-4">
          <img src=<%= cl_image_path hugger.photo %> />
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to hugger.username, hugger_path(hugger), :style=>'color: black;' %></h2>
              <p>Short description here!</p>
            </div>
            <img src=<%= cl_image_path hugger.photo %>, class="card-trip-user avatar-bordered" />
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
