<div id="hugger" class="d-flex">
 <%# RENDU SIDEBAR  %>
  <%= render 'shared/sidebarhugger' %>
  <section id="huggerContent" class="item ">
    <div class="">
      <div class="col-12 col-md-8">HUG SHOW</div>
    </div>
  </section>
</div>
